{% extends 'base.html' %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/maraichage/add">
                <button class="btn btn-success text-center"> ajouter une culture</button>
            </a>
            {% for key, value in Legums.items %}
            <div class="legum" id="{{key}}" style="margin: 20px;">
                <h1 class="nomLegume">{{key}}</h1>
                {% for legum in value%}

                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col plantation">
                                <label class="lead font-weight-bold">Plantation</label>
                                <label class="lead"> Date : {{legum.date_plantation}}</label>
                                <label class="lead"> Plants : {{legum.nbr_plant}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col recolte">
                                <label class="lead font-weight-bold">Recolte</label>
                                <label class="lead"> Date : {{legum.date_recolte}}</label>
                                <label class="lead"> Poids (kg) : {{legum.poid_recolte}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <a href="/admin/maraichage/legume/{{legum.id}}/change/">
                            <button class="btn btn-danger">modifier</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/culture.js"></script>

{% endblock %}