{% extends 'base.html' %}


{% block body %}

<div style="margin: 10px">
    <a href="/maraichage/add">
        <button class="btn btn-success"> ajouter une espèce</button>
    </a>
    {% for legum in listLegum %}
    <div id="{{legum.nom}}" style="margin: 20px;">
        <h1> {{legum.nom}} </h1>
        <div class="row data">
            <div class="col plantation">
                <p>Plantation</p>
                <p>{{legum.date_plantation}}</p>
                <p> nombre de plants : {{legum.nbr_plant}}</p>
            </div>
            <div class="col recolte">
                <p>Recolte</p>
                <p>{{legum.date_recolte}}</p>
                <p> Poids (kg) : {{legum.poid_recolte}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}