{% extends 'base.html' %}


{% block body %}


<div style="margin: 20px;">
    <a href="/maraichage/culture"><button class="btn btn-success"> Cultures</button></a>
    <button class="btn btn-success"> Propagateur</button>
    <button class="btn btn-success"> Recoltes</button>
</div>

<div class="row">
    <div class="col">
        <h3> Repartition des cultures (par nombre de plants) </h3>
        <canvas height="300" width="300" id="canvas"></div>
    <div class="col">
        <h3>Recolte Prévisionnelles</h3>
        <div class="graph"></div>
    </div>
</div>

</canvas>

<script src="/static/js/home.js"></script>

{% endblock %}