{% extends 'base.html' %}


{% block body %}

<input id="plantation" hidden value="{{plantation}}">
<input id="recolte" hidden value="{{recolte}}">

<div style="margin: 20px;" class="text-center">
    <a href="/maraichage/culture">
        <button class="btn btn-success"> Cultures </button>
    </a>
    <a href="/maraichage/recolte">
        <button class="btn btn-success"> Recoltes </button>
    </a>
</div>

<div class="row">
    <div class="col">
        <h3> Repartition des cultures (par nombre de plants) </h3>
        <div id="pie"></div>
    </div>
    <div class="col">
        <h3> Repartition des récoltes </h3>
        <div id="pie_recolte"></div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/static/js/home_maraichage.js"></script>

{% endblock %}