{% extends 'base.html' %}


{% block body %}



<div style="margin: 20px;">
    <a href="/maraichage/culture"> <button class="btn btn-success"> Cultures </button> </a>
    <button class="btn btn-success"> Propagateur </button>
    <button class="btn btn-success"> Recoltes </button>
    <h1>
        Consomation d'eau :
    </h1>

    <h1>
        Surface cultivé :
    </h1>

    <h1>
        Niveau de la réserve (puit) :
    </h1>

    <h1>
        Etat de la pompe (arrosage):
    </h1>

</div>


{% endblock %}