{% extends 'base.html' %}


{% block body %}

<h3 class="text-center"> Liste des adérents à l'association </h3>

<div class="row text-center">
    <div class="col">
        <p class="lead font-weight-bold">Prénom</p>
    </div>
    <div class="col">
        <p class="lead font-weight-bold">Nom </p>
    </div>
    <div class="col">
        <p class="lead font-weight-bold">Abonnement </p>
    </div>
    <div class="col">
        <p class="lead font-weight-bold">Payement </p>
    </div>
    <div class="col">
        <p class="lead font-weight-bold">Début</p>
    </div>
    <div class="col">
        <p class="lead font-weight-bold">Fin </p>
    </div>

</div>
{% for user in users %}
<div class="row text-center">
    <div class="col">
        <label class="lead">{{user.firstname}} </label>
    </div>
    <div class="col">
        <label class="lead">{{user.lastname}} </label>
    </div>
    <div class="col">
        <label class="lead">{{user.adhesion.adhesion.type}} </label>
    </div>
    <div class="col">
        <label class="lead">{{user.adhesion.adhesion.prix}}€</label>
    </div>
    <div class="col">
        <label class="lead">{{user.adhesion.datesouscription}} </label>

    </div>
    <div class="col">
        <label class="lead">{{user.adhesion.dateexpiration}} </label>
    </div>
</div>
{% endfor %}

<script src="/static/js/adherents.js"></script>

{% endblock body%}