{% extends 'base.html' %}


{% block body %}


<div style="margin: 20px;">
    <div class="row">

        <div class="col">
            <h3>
                Consomation d'eau par an (2019) :
            </h3>

            <h3>
                Surface cultivé :
            </h3>
        </div>
        <div class="col">
            <h3>
                Niveau de la réserve (puit) :
            </h3>

            <h3>
                Etat de la pompe (arrosage):
            </h3>
        </div>
    </div>
    <div id="maps"></div>

    <div class="row" id="energie">
        <div class="col">
            <p>Panneaux solaire sur le site : 12</p>
            <p>Puissance produite : mettre l'info des routeur solaire </p>
        </div>
    </div>

    <div class="row" id="bassin de baillade">
    <div class="col">
        <p> température</p>
        <p> </p>
    </div>
    </div>


</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="/static/js/home_eau_energie.js"></script>

{% endblock %}