{% extends 'base.html' %}


{% block body %}


<div style="margin: 20px;">
    <div class="row">

        <div class="col">
            <h1>
                Consomation d'eau par an (2019) :
            </h1>

            <h1>
                Surface cultivé :
            </h1>
        </div>
        <div class="col">
            <h1>
                Niveau de la réserve (puit) :
            </h1>

            <h1>
                Etat de la pompe (arrosage):
            </h1>
        </div>
    </div>


</div>


{% endblock %}