<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <link rel="stylesheet" href="/static/css/base.css">

    {% block static %}

    {% endblock %}
    {% block title %}
    <title>Title</title>
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <img src="/static/img/logo-ecocycle.png">
            <ul class="nav navbar-nav">
                <li class="h1 nav-item"><a class="nav-link" href="/maraichage/">Maraichage</a></li>
                <li class="h1"><a class="nav-link" href="">Gîte et chambre d'hôtes</a></li>
                <li class="h1"><a class="nav-link" href="/eau_energie/">Eau&Energie</a></li>
                <li class="h1"><a class="nav-link" href="">Tiers lieu</a></li>
            </ul>
        </div>
    </nav>
</header>

{% block body %}

{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
  src="http://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</body>
</html>